html, body {
    background-image: url("../../assets/images/black.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card {
    background-image: url("../../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
}

#projectsDone, #contactDetails {
    display: none;
}

#logo {
    color: lightskyblue;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 50px;
}

.card-title {
    font-family: 'Source Serif Pro', serif;
}
footer {
    color: lightskyblue;
}

#top {
    color: yellow;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 15px;
    cursor: pointer;
}
nav, li {
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 35px;
}

#github, #linkedIn {
    float: right;
}

#linkedIn {
    height: 50px;
}

#github {
    height: 65px;
}

.assignment {
    width: 100%;
}