html,
body {
    background-image: url("../../assets/images/black.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card {
    background-image: url("../../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
}

#projectsDone {
    display: none;
}

#logo {
    color: lightskyblue;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 50px;
}

.card-title {
    font-family: 'Source Serif Pro', serif;
}

footer {
    color: lightskyblue;
}

#top {
    color: yellow;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 15px;
    cursor: pointer;
}

nav,
li {
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
}

.nav-link,
#top {
    padding: 0px;
    background-image: url("../../assets/images/black.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#resume,
#github,
#linkedIn {
    float: right;
}

#linkedIn {
    height: 50px;
}

#github {
    height: 55px;
}

#resume {
    height: 55px;
    margin-right: 15px;
}
.githubLink {
    height: 25px;
}
.assignment {
    width: 100%;
}